@{
    Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/about.css">

<section id="aboutUs">

    <h1>
        @Html.Raw(Resources.Home.About.About.HeaderText)
    </h1>

    <section id="gridArea">
        <div>
            <img src="~/images/filet-mignon-side-dishes.jpg" alt="">
            <h4>
                @Resources.Home.About.About.Dishes
            </h4>

        </div>

        <div>
            <img src="~/images/Restaurant-Staff.jpg" alt="">
            <h4>
                @Resources.Home.About.About.Staff
            </h4>
        </div>

        <div>
            <img src="~/images/wedding-celebration-7.jpg" alt="">
            <h4>
                @Resources.Home.About.About.Party
            </h4>
        </div>

    </section>

</section>

