@{
    Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/About.css">

<section class="u-clearfix u-section-1" id="carousel_fd32">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-size-21">
                    <div class="u-layout-row">
                        <div class="u-align-center u-black u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="450" data-image-height="301"></div>
                                <img src="~/images/829-8293847_jake-corman-signature-jake-signaturecopy.png" alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-contain u-image-default u-image-2" data-image-width="1280" data-image-height="911">
                                <h3 class="u-text u-text-1">Our team</h3>
                                <h6 class="u-text u-text-2">Chefs</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-size-39">
                    <div class="u-layout-col">
                        <div class="u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="300" data-image-height="300">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h5 class="u-text u-text-3" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">About Us</h5>
                                <p class="u-custom-font u-heading-font u-text u-text-4" data-animation-name="lightSpeedIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.&nbsp;Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-palette-3-light-2 u-size-30 u-layout-cell-3">
                            <div class="u-container-layout u-container-layout-3">
                                <h5 class="u-text u-text-5" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">What We Do</h5>
                                <p class="u-custom-font u-heading-font u-text u-text-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.&nbsp;Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

