@{
    Layout = "_Layout";
}
<section id="sectionFirst">
    <div id="spagetti">
        <div id="text">
            <p>
                @Resources.Home.Index.Index.RestaurantName <br>
                @Resources.Home.Index.Index.WorkTime
            </p>
        </div>
    </div>
</section>