@{
    Layout = "_Layout";
}

@model IEnumerable<Restaurant_Website.Models.Menu.ProductCategoryViewModel>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

<link rel="stylesheet" href="~/css/Menu.css" />

<section class="u-clearfix u-white u-section-1" id="carousel_3729">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div id="outer" class="btn-group">

            <form asp-controller="Menu" asp-action="GetProducts" method="post" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#menuProducts" data-ajax-loading="#whileLoading">
                @foreach (var item in Model)
                {
                    <button type="submit" name="categoryId" value="@item.Id" style="margin-right: 10px" class="inner u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-11 u-btn-1">
                        @item.Name
                    </button>
                }
            </form>
            <div id="menuProducts">
            </div>
        </div>
        
        <div id="whileLoading" class="loader" style="margin-left: 50%; display: none"></div>
    </div>
</section>

