 @model IEnumerable<LanguageViewModel> 

<li class="u-nav-item">
    <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" style="padding: 10px 0px;">@Model.First().Description</a><div class="u-nav-popup">
        <ul class="u-h-spacing-19 u-nav u-unstyled u-v-spacing-4 u-nav-2">
            @foreach (var item in Model.Skip(1))
            {
                <li class="u-nav-item">
                    <a class="u-button-style u-nav-link u-text-black" asp-controller="Languages" asp-action="ChangeLanguage" asp-route-lang="@item.Code">@item.Description</a>
                </li>
            }
        </ul>
    </div>
</li>