.u-section-1 {
  min-height: 861px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 861px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 329px;
  height: 329px;
  background-image: url("../images/All_Chef.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 33px;
}

.u-section-1 .u-image-2 {
  width: 385px;
  height: 272px;
  margin: -147px auto 0 5px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 58px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 143px 0 144px;
}

.u-section-1 .u-image-3 {
  min-height: 431px;
  background-image: url("../images/26fe9a04-e9f7-fad9-a044-8a2081aa6b34.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 46px 627px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 431px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 48px 582px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 791px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-1 .u-image-1 {
    margin-left: -12px;
  }

  .u-section-1 .u-image-2 {
    height: 271px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 23px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 108px;
    margin-left: 98px;
  }

  .u-section-1 .u-image-3 {
    min-height: 355px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 497px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 355px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 452px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 714px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 966px;
  }

  .u-section-1 .u-image-1 {
    width: 231px;
    height: 231px;
    margin-right: -4px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 211px;
    margin-top: -89px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: -1px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 69px;
    margin-left: 61px;
  }

  .u-section-1 .u-image-3 {
    min-height: 272px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 354px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1219px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 299px;
    height: 299px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -157px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    min-height: 314px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 938px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    min-height: 198px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 154px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 109px;
  }
}