* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #262626;
}
#menu {
  height: 80vh;
  background-image: url(../images/loija-nguyen-NYBnDWeOX2c-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
#menu #textParagraph3 {
  font-size: 40px;
  text-align: center;
  padding-top: 250px;
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px black;
}
#menuItems {
  width: 100%;
  display: grid;
  margin: 3px 0px;
  grid-template-columns: repeat(4, 1fr);
}
#menuItems .imageContainer {
  width: 379px;
  height: 350px;
  overflow: hidden;
  position: relative;
}
#menuItems .imageContainer ::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0);
  position: absolute;
  top: 0;
  left: 0;
}
#menuItems .imageContainer :hover {
  cursor: pointer;
  transform: scale(1.155);
  transition: all 4s cubic-bezier(0.235, 0.82, 0.165, 1);
}
#menuItems .imageContainer :hover::after {
  background-color: rgba(37, 37, 37, 0.5);
}
#menuItems .imageContainer :hover:hover .menuImageName {
  opacity: 1;
  transition: all 0.6s ease;
}
#menuItems .menuImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}
#menuItems .menuImage :hover {
  transform: none;
}
#menuItems .menuImage .menuImageName {
  opacity: 0;
}
#menuItems .menuImage .menuImageName h3 {
  font-size: 30px;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 4px;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-weight: 500;
}
#menuItems #image1 {
  background-image: url(images/loija-nguyen-NYBnDWeOX2c-unsplash.jpg);
}
#menuItems #image2 {
  background-image: url(images/luisa-brimble-vIm26fn_QKg-unsplash.jpg);
}
#menuItems #image3 {
  background-image: url(images/bladimir-garcia-7pnSF4mqlVQ-unsplash.jpg);
}
#menuItems #image4 {
  background-image: url(images/proriat-hospitality-lwoTuByIuC4-unsplash.jpg);
}
footer {
  border-top: 2px solid rgba(253, 75, 10, 0.7);
  height: 15vh;
  display: flex;
  justify-content: space-around;
  padding: 35px;
  color: #858282;
  background-color: rgba(17, 17, 17, 0.9);
  font-family: 'Roboto', sans-serif;
}
footer i {
  color: #858282;
}
footer #logos {
  display: flex;
  justify-content: space-around;
}
footer p {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
}
main {
  text-align: center;
}
main #menuList {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 18px;
  background-color: #ccc;
  text-align: left;
  padding-top: 20px;
}
main #menuList div {
  padding-left: 20px;
}
main #menuList h5 {
  color: black;
  font-size: 20px;
}
main #menuList p {
  color: #504e4e;
  font-weight: bold;
  padding-top: 15px;
}
