.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 522px;
}

.u-section-1 .u-table-1 {
  margin: 70px auto 60px 0;
}

.u-block-b0b0-44 {
  background-image: none;
  font-weight: 700;
}

.u-block-b0b0-41 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-table-cell-9 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}