* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#sectionFirst #spagetti {
    text-align: center;
    background-image: url(../images/italian-food-background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#sectionFirst #spagetti #text {
    padding-top: 180px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

#sectionFirst footer {
    border-top: 2px solid rgba(253, 75, 10, 0.7);
    height: 15vh;
    display: flex;
    justify-content: space-around;
    padding: 35px;
    color: #858282;
    background-color: rgba(17, 17, 17, 0.9);
    font-family: 'Roboto', sans-serif;
}

#sectionFirst footer i {
    color: #858282;
}

#sectionFirst footer #logos {
    display: flex;
    justify-content: space-around;
}

#sectionFirst footer p {
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    border-top: 2px solid rgba(253, 75, 10, 0.7);
    height: 15vh;
    display: flex;
    justify-content: space-around;
    padding: 35px;
    color: #858282;
    background-color: rgba(17, 17, 17, 0.9);
    font-family: 'Roboto', sans-serif;
}

footer i {
    color: #858282;
}

footer #logos {
    display: flex;
    justify-content: space-around;
}

footer p {
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;  
    -webkit-user-select: none;  
    user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}