body {
    background-image: url(../images/italian-food-background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
#heading p {
  text-align: center;
  margin-top: 150px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
  font-size: 40px;
}
main {
  width: 550px;
  margin: auto;
}
#register {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 40px;
}
#register div {
  display: flex;
  justify-content: space-between;
}
#register label {
  line-height: 2;
  margin-left: 8px;
  font-size: 17px;
  letter-spacing: 2px;
  color: white;
}
#register .inputs {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  height: 40px;
  width: 100%;
  background-color: #ccc;
  border: none;
  font-size: 15px;
  padding: 0 10px;
}
#register select {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  height: 40px;
  width: 100%;
  background-color: #ccc;
  border: none;
  font-size: 15px;
  padding: 0 10px;
  box-shadow: 1px 1px 1px white;
}
#register button {
  color: white;
  background-color: black;
  padding: 10px 30px;
  border-radius: unset;
  font-size: 15px;
}
#register button:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
  font-weight: bold;
}
